{% extends 'bootstrap/base.html' %}
{% block title %}Game Shop{% endblock %}
{% block content %}
<div class="g" style="background-color: #FFFFE8;">
<div class="container px-4 px-lg-5">
    <div class="gg">
        <h1>We sell games!</h1>
        <p>PS4, PS5, PC, Nintendo etc.</p>
    </div>
</div>
</div>
<section>
<div class="container px-4 px-lg-5 back">
    <div class="container px-4 px-lg-5">
        {% for game in games: %}
<div class="card" style="width: 18rem; margin-top: 20px; display: inline-block; margin-left: 60px; text-align: center; margin-bottom: 10px;border-color: grey; background-color: #FFFFE8;" id="card">
  <img src="{{ game.img_url }}" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title" style="text-align: center;">{{ game.name }}</h5>
    <p class="card-text" style="text-align: center;">Price: {{ game.price }}</p>
    <a class="btn btn-success" href="{{url_for('add_cart', g_id=game.id)}}">Add to <i class="bi bi-cart4"></i></a>
  </div>
     </div>
        {% endfor %}
    </div>
</div>
</section>
<nav class="navbar navbar-expand-lg" style="background-color: #FFFFE8;">
	<div class="container px-4 px-lg-1 justify-content-center">
		<a class="navbar-brand" href="https://github.com/Kaelmur"><i class="bi bi-github"></i></a>
	</div>
</nav>
{% endblock %}